<div class="min-h-screen bg-gradient-to-br from-slate-950 via-blue-950 to-slate-900 relative flex flex-col">
  <div class="absolute inset-0 overflow-hidden pointer-events-none">
    <div class="absolute -top-1/2 -right-1/2 w-96 h-96 bg-red-600 rounded-full mix-blend-multiply filter blur-3xl opacity-5"></div>
    <div class="absolute -bottom-1/2 -left-1/2 w-96 h-96 bg-blue-600 rounded-full mix-blend-multiply filter blur-3xl opacity-5"></div>
  </div>

  <app-header></app-header>

  <main class="relative p-8 flex-1">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>
